@import "./media-query.css";
@import "bootstrap/dist/css/bootstrap.css";

:root {
    --gray: #717275;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

main p {
    color: var(--gray);
    font-weight: 300;
    font-size: 20px;
}

section, footer {
    scroll-margin-top: 140px;
}

section {
    margin-bottom: 6rem !important;
}

a {
    text-decoration: none !important;
}

button {
    background-color: transparent;
}

.pointer {
    cursor: pointer !important;
}

.fw-500 {
    font-weight: 500 !important;
}

/* header */

header {
    grid-template-columns: 4vw auto 4vw;
    align-items: center;
}

.menu-btn {
    justify-self: start;
    grid-column: 1;
    height: 19px;
}

.menu-btn > * {
    width: 30px;
}

.horizontal-nav {
    justify-self: center;
    grid-column: 2;
}

.lng-btn {
    grid-column: 3;
    justify-self: end;
    font-size: .8rem;
}

.lng-btn svg {
    width: 1.5rem;
    height: 1rem;
}

.logo {
    font-size: 24px;
}

.logo span {
    font-size: 12px;
    color: var(--gray);
}


.bar {
    height: 2px;
    background-color: black;
    border-radius: 5px;
    transition: all .5s ease;
}

.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
}

.open .bar:nth-child(2) {
    opacity: 0;
}

.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}

nav ul li {
    color: var(--gray);
}

.active {
    color: #000;
}

/* home */

.hero-section {
    height: 50vh;
    inset: 0;
}

.hero-section img {
    object-fit: cover;
    object-position: center top;
    transition: opacity .8s ease-in-out;
    opacity: 0;
}

.hero-section img.active-img {
    opacity: 1;
}

.home-title h2 {
    font-size: 2.6rem;
}

.home-title span {
    transition: opacity .5s ease-in-out, transform .8s ease-in-out;
    opacity: 0;
    transform: translateY(10px);
}

.home-title span.active-word {
    opacity: 1;
    transform: translateY(.655px);
}

.home button {
    font-size: 1rem;
}

.phone-number {
    color: var(--gray);
}

/* about */

.about-title,
.timeline-title {
    font-size: 2.1rem;
}

.experience {
    width: 235px;
    height: 235px;
}

.experience span.experience-number {
    font-size: 5rem;
}

.experience span {
    font-size: 22px;
    line-height: 35px;
    color: var(--gray);
}

/* timeline */

.icon {
    width: 30%;
    aspect-ratio: 1/1;
    align-self: flex-start;
    max-width: 70px;
}

.icon>* {
    font-size: 2rem;
}

.timeline h3::after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 50%;
    inset-inline-end: 99.8%;
    transform: translateY(-50%);
    border-width: 10px;
    border-block-color: transparent;
    border-inline-start-color: transparent;
    border-inline-end-color: black;
    border-style: solid;
}

.timeline-texts {
    max-width: 75%;
}

.vertical-line {
    position: absolute;
    width: 1px;
    height: 90%;
    z-index: -1;
    top: 3%;
    inset-inline-start: 8.8%;
    background-color: var(--gray);
    opacity: .3;
}

/* testimonials */

.testimonial-card img {
    width: 40px;
    height: 40px;
}

.swiper-slide {
    background-color: white;
    opacity: .3;
}

.swiper-slide .rate svg {
    fill: var(--gray);
}

.swiper-slide-active {
    background-color: black !important;
    opacity: 1 !important;
}

.swiper-slide-active p {
    color: white !important;
}

.swiper-slide-active .rate svg {
    fill: white !important;
}

.prev-btn,
.next-btn {
    border: 0;
    font-size: 2.5rem;
    color: var(--gray);
    z-index: 2;
}

/* booking */

.submit-btn {
    font-weight: 600;
    transition: .3s ease-in;
    background-color: black;
    width: 9rem;
}

.submit-btn:hover {
    background-color: var(--bs-primary);
}

.booking input,
.booking textarea {
    color: #6c757d;
}

/* footer */

footer {
    padding-top: 7rem;
    padding-bottom: 2rem;
}

footer span,
footer p,
footer a {
    color: var(--gray);
}

footer a:hover {
    color: var(--bs-primary);
    opacity: 1 !important;
}

.socials {
    max-width: 150px;
}

.socials > * {
    font-size: 1.5rem;
}

.socials:hover a {
    opacity: .6;
}

.copyright {
    margin-top: 5rem;
}

.copyright-text {
    font-size: 12px !important;
}
