@media screen and (min-width: 992px) {
    .hero-section {
        height: 85vh !important;
    }

    .horizontal-nav {
        width: 90% !important;
    }

    .home-description {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50%;
        height: auto;
    }
}