@media screen and (min-width: 368px) {
    .experience span.experience-number {
        font-size: 8rem !important;
    }
    
    .experience span {
        font-size: 25px;
    }

}

@media screen and (min-width: 368px) and (max-width: 991px) {
    .experience {
        width: 320px !important;
        height: 320px !important;
    }
}

@media screen and (min-width: 576px) and (max-width: 991px) {
    .booking input,
    .booking textarea {
        width: 85% !important;
        margin-inline: auto !important;
    }
}

@media screen and (max-width: 576px) {
    .phone-number svg,
    .phone-number span,
    .home button {
        font-size: 12px !important;
    }
}

@media screen and (min-width: 768px) {
    .about-texts {
        width: 50% !important;
    }

    div.timeline:nth-child(even),
    div.timeline:nth-child(even) .timeline-content {
        flex-direction: row-reverse !important;
    }

    .vertical-line {
        inset-inline-start: 50% !important;
    }

    div.timeline:nth-child(even) h3::after {
        inset-inline-start: 99.8% !important;
        inset-inline-end: auto !important;
        border-inline-start-color: black !important;
        border-inline-end: transparent !important;
    }

    div.timeline:nth-child(odd) .date {
        text-align: end !important;
    }

    .prev-btn,
    .next-btn {
        position: absolute !important;
        top: 55%;
        transform: translateY(-50%);
    }

    .prev-btn {
        inset-inline-start: 20%;
    }

    .next-btn {
        inset-inline-end: 20%;
    }

}

@media screen and (min-width: 992px) {
    .hero-section {
        height: 85vh !important;
    }

    .horizontal-nav {
        width: 75% !important;
        max-width: 1250px;
    }

    .home-texts {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50%;
        height: auto;
    }

    .home-title h2 {
        font-size: 3rem;
    }

    nav ul li,
    .logo {
        font-size: 20px;
    }

    .experience {
        width: 350px !important;
        height: 350px !important;
    }

    .icon {
        max-width: 80px !important;
    }

    .booking input {
        flex: 0 0 calc(45% - 0.5rem);
        margin-inline: auto;
        font-size: 1.5rem;
    }

    .booking textarea,
    .booking div {
        flex: 0 0 95%;
        margin-inline: auto;
        font-size: 1.5rem !important;
    }

    .submit-btn {
        width: 15rem !important;
    }

    footer span,
    footer p,
    footer a {
        font-size: 1.3rem;
    }

    .copyright {
        margin-top: 8rem !important;
    }

}

@media screen and (min-width: 1200px) {
    main p {
        font-size: 24px !important;
    }

    .timeline h3 {
        font-size: 35px;
    }

    .icon {
        max-width: 100px !important;
    }

    .icon > * {
        font-size: 2.7rem !important;
    }

    .prev-btn,
    .next-btn {
        font-size: 3.3rem !important;
    }
    
}