@media screen and (min-width: 368px) {
    .experience span.experience-number {
        font-size: 8rem !important;
    }
    
    .experience span {
        font-size: 25px;
    }
}

@media screen and (min-width: 368px) and (max-width: 991px) {
    .experience {
        width: 320px !important;
        height: 320px !important;
    }
}

@media screen and (max-width: 576px) {
    .phone-number svg,
    .phone-number span,
    .home button {
        font-size: 12px !important;
    }
}

@media screen and (min-width: 768px) {
    .about-texts {
        width: 50% !important;
    }

    div.timeline:nth-child(even),
    div.timeline:nth-child(even) .timeline-content {
        flex-direction: row-reverse !important;
    }

    .vertical-line {
        left: 50% !important;
    }

    div.timeline:nth-child(even) h3::after {
        left: 99.8% !important;
        right: auto !important;
        border-color: transparent transparent transparent black !important;
    }

    div.timeline:nth-child(odd) .date {
        text-align: end !important;
    }

}

@media screen and (min-width: 992px) {
    .hero-section {
        height: 57vh !important;
    }

    .horizontal-nav {
        width: 90% !important;
    }

    .home-texts {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50%;
        height: auto;
    }

    .home-title h2 {
        font-size: 3rem;
    }

    nav ul li,
    .logo {
        font-size: 20px;
    }

    .experience {
        width: 350px !important;
        height: 350px !important;
    }

    .icon {
        max-width: 80px !important;
    }

}

@media screen and (min-width: 1200px) {
    main p {
        font-size: 24px !important;
    }

    .timeline h3 {
        font-size: 35px;
    }

    .icon {
        max-width: 100px !important;
    }

    .icon > * {
        font-size: 2.7rem !important;
    }
    
}